@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url("../../public/fonts/Ubuntu-Title.ttf") format("truetype");
  font-weight: bold;
}

.font-face-gm {
  font-family: "Ubuntu";
}

html {
  padding-right: 0 !important;
}
